
/* *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
/* } */ 
body{
    /* background-image: linear-gradient(69.9deg,#4c4f6a 3.2%,#767ca3 97.6%); */
    /* background-color: black; */
    background-color: currentColor;
}

.hero{
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 4%;

}

.logo a{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

#folio{
    color: gold;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

}

nav ul li a:hover{
    /* color: black;
    transition: .3s; */
    padding-block: inherit;
    background: border-box;
    color: gold;
    border-radius: 20px;
}

.info{
    color: white;
    justify-content: center;
    margin-top: 130px;
    margin-left: 144px;
    /* align-items: center;*/
} 

.porya{
    margin-left: 532px;
    margin-top: -220px;
}

.icons{
    color: white;
    font-size: 32px;
    margin-top: -104px;
    margin-left: 129px;
    /* padding: 10px 20px; */
    
}

#i1 i {
    margin: 0px 22px;
    color: white;
}

#i2{
    color: white;
}

.buttons{
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    width: 112px;
    height: 54px;
    color: black;
    background-color: gold;

}